body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

main {
    padding: 5% 10%;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}
