.titulo{
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

img{
    border-radius: 10px;
    width: 1000px;
    height: auto;
}

.texto-porque{
    padding: 20px;
    background-color: rgb(230, 167, 177);
    color: rgb(13, 28, 41);
}

.botaoVer{
    background-color: pink;
    border-color: pink;
}
.botaoVer:hover{
    background-color: rgb(197, 131, 142);
    border-color: pink;
}